{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Student Management{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'students/style.css' %}">
</head>

<body>

    <nav class="navbar">
        <div>
            <b>Student Management</b>
        </div>

        <div>
            <a href="{% url 'student_list' %}">Students</a>
            <a href="{% url 'student_add' %}">Add Student</a>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        Student Management System
    </footer>

</body>
</html>